# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.env.local

# Node / Vue
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic (opcional manter)
alembic/versions/*.pyc